<div class="container">
  <h1>ADD BEACONS</h1>
  <form
    style="text-align: -webkit-center; margin-top: 5%"
    [formGroup]="addBeaconForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="beaconSection">
      <span class="beaconLabel"> <b>Beacon Unique Id</b> </span>
      <span class="beaconInput">
        <input
          type="text"
          class="form-control"
          formControlName="beacon_id"
          placeholder="Beacon UUID"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            !addBeaconForm.controls['beacon_id'].valid &&
            (addBeaconForm.controls['beacon_id'].dirty ||
              addBeaconForm.controls['beacon_id'].touched)
          "
        >
          Please enter Beacon UUID
        </div>
      </span>
    </div>
    <div class="axisSection">
      <span class="axisLabel"> <b>Location</b> </span>
      <span class="xaxisInput">
        <input
          type="text"
          class="form-control"
          formControlName="location_x"
          placeholder="Longitude"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            !addBeaconForm.controls['location_x'].valid &&
            (addBeaconForm.controls['location_x'].dirty ||
              addBeaconForm.controls['location_x'].touched)
          "
        >
          Please enter numbers only
        </div>
      </span>
      <span class="yaxisInput">
        <input
          type="text"
          class="form-control"
          formControlName="location_y"
          placeholder="Latitude"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            !addBeaconForm.controls['location_y'].valid &&
            (addBeaconForm.controls['location_y'].dirty ||
              addBeaconForm.controls['location_y'].touched)
          "
        >
          Please enter numbers only
        </div>
      </span>
    </div>
    <div class="descriptionSection">
      <span class="descriptionLabel"> <b>Description</b> </span>
      <span class="descriptionInput">
        <input
          type="text"
          class="form-control"
          formControlName="description"
          placeholder="Description"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            !addBeaconForm.controls['description'].valid &&
            (addBeaconForm.controls['description'].dirty ||
              addBeaconForm.controls['description'].touched)
          "
        >
          Please enter description related to beacon
        </div>
      </span>
    </div>
    <div class="adjacentNodeSection">
      <span class="adjacentNodeLabel"> <b>Adjacent Nodes</b> </span>
      <span class="adjacentNodeInput">
        <mat-select
          class="form-control"
          placeholder="Select Adjacent nodes"
          formControlName="adjacent_node"
          multiple
          ><mat-option disabled hidden selected>
            Please select adjacent beacons
          </mat-option>
          <mat-option *ngFor="let node of allNodes" [value]="node.desc">
            {{ node.desc }}
          </mat-option>
        </mat-select>
      </span>
      <div
        class="fix alert alert-danger"
        *ngIf="
          !addBeaconForm.controls['adjacent_node'].valid &&
          (addBeaconForm.controls['adjacent_node'].dirty ||
            addBeaconForm.controls['adjacent_node'].touched)
        "
      >
        Please select maximum of 3 adjacent beacon
      </div>
    </div>
    <button class="btn btn-success" [disabled]="!addBeaconForm.valid">
      Add Beacon
    </button>
  </form>
</div>
