.beaconSection {
  height: 38px;
  width: 100%;
  margin-bottom: 4%;
}

.beaconLabel {
  text-align: start;
  float: left;
  width: 20%;
}

.beaconInput {
  float: right;
  width: 80%;
}

.axisSection {
  height: 38px;
  width: 100%;
  margin-bottom: 4%;
}
.axisLabel {
  text-align: start;
  float: left;
  width: 20%;
}
.xaxisInput {
  float: left;
  width: 35%;
}
.yaxisInput {
  float: right;
  width: 35%;
}

.descriptionSection {
  height: 38px;
  width: 100%;
  margin-bottom: 4%;
}
.descriptionLabel {
  text-align: start;
  float: left;
  width: 20%;
}
.descriptionInput {
  float: right;
  width: 80%;
}

.adjacentNodeSection {
  height: 38px;
  width: 100%;
  margin-bottom: 4%;
}
.adjacentNodeLabel {
  text-align: start;
  float: left;
  width: 20%;
}
.adjacentNodeInput {
  float: left;
  width: 35%;
}
.container h1 {
  text-align: center;
}
.alert {
  padding: 0rem 1.25rem;
}
.fix {
  width: 35%;
  margin-left: -25%;
  position: static;
}
